In [6]:
worker = ['Olya', 'Silyutina', 350000, 3]
status = '{} {} is {}'
for i in worker:
    user_name = worker[0]
    user_family = worker[1]
    stazh = worker[-1]
    if worker[-1] < 2:
        position ='junior';
    elif 2 <= worker[-1] < 5:
        position ='middle';
    else:
        position='senior';
status = status.format(worker[0], worker[1], position)

In [5]:
for i in worker:
    user_name = worker[0]
    user_family = worker[1]
    stazh = worker[-1]
    if worker[-1] < 2:
        position ='junior';
    elif 2 <= worker[-1] < 5:
        position ='middle';
    else:
        position='senior';
status = user_name + ' ' + user_family + ' ' + 'is'+' ' + position

In [2]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for i in user_ages:
    if i>18:
        print(i)

21
35
42
27

In [61]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens=[]
for i in values:
    if i % 10 == 0:
        tens.append(i)

In [22]:
workers = [['Ivan', 'Ivanov', 100000, 0], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 4]]
status = '{} {} is {}'
for w in workers:
    user_name = w[0]
    user_family = w[1]
    exp = w[-1]
    if 0 <= w[-1] < 2:
        position ='junior';
    elif 2 <= w[-1] <= 5:
        position ='middle';
    else:
        position='senior';
    print(status.format(w[0], w[1], position))

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is middle

In [23]:
from datetime import date
today = str(date.today())
print(today)

2021-11-19

In [ ]:
# Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). 
# Для этого используйте условие while.
# Note: необходимо создать переменную lst

In [3]:
lst=[]
n = 0
N = 10
dn = 2
while n<=N:
    lst.append(n)
    n +=dn

In [4]:
 lst

[0, 2, 4, 6, 8]

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('lesson_2_data.csv', encoding='Windows-1251', sep=';')

In [13]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [5]:
df = pd.read_csv('C:/Users/lybov/Downloads/lesson_2_data.csv', encoding='Windows-1251', sep=';')

In [10]:
df.head().shape

(5, 8)

In [11]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [12]:
df.describe

<bound method NDFrame.describe of        Номер     Дата создания       Дата оплаты  \
0    1062823  01.12.2019 10:50  01.12.2019 10:52
1    1062855  01.12.2019 20:53  01.12.2019 21:27
2    1062856  01.12.2019 21:43               NaN
3    1062880   03.12.2019 0:18               NaN
4    1062899  03.12.2019 21:43               NaN
..       ...               ...               ...
287  1064720   30.12.2019 9:42  30.12.2019 12:49
288  1064724  30.12.2019 11:32               NaN
289  1064775   31.12.2019 2:17   31.12.2019 2:22
290  1064793  31.12.2019 16:40  01.01.2020 14:29
291  1064796  31.12.2019 17:29  31.12.2019 17:32

                                                 Title    Статус  Заработано  \
0                              Курс обучения «Эксперт»  Завершен    29597.50
1                              Курс обучения «Эксперт»  Завершен    17450.30
2                           Курс обучения «Специалист»   Отменен        0.00
3                          Курс обучения «Консультант»   Отменен        0.00
4                              Курс обучения «Эксперт»   Отменен        0.00
..                                                 ...       ...         ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен     2935.44
288                        Курс обучения «Консультант»   Отменен        0.00
289                        Курс обучения «Консультант»  Завершен     7423.92
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен     2935.44
291  Курс от Школы Диетологов. Повышение квалификац...  Завершен     9898.56

                             Город                 Платежная система
0                             Чита                Сбербанк эквайринг
1                        Краснодар                      Яндекс.Касса
2                              NaN                               NaN
3    г.Москва и Московская область                               NaN
4    г.Москва и Московская область                               NaN
..                             ...                               ...
287              Самарская область                      Яндекс.Касса
288                            NaN                               NaN
289                            NaN  Сбербанк эквайринг,Бонусный счет
290             Республика Карелия                      Яндекс.Касса
291                            Уфа  Сбербанк эквайринг,Бонусный счет

[292 rows x 8 columns]>

In [13]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [15]:
df = df.rename(columns={'Номер':'number', 
                        'Дата создания':'create_date', 
                        'Дата оплаты':'payment_date',
                        'Title':'title', 
                        'Статус':'status',
                        'Заработано':'total_score', 
                        'Город':'city', 
                        'Платежная система':'payment_system'})

In [16]:
df.head()

,number,create_date,payment_date,title,status,total_score,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [18]:
round(df.total_score.sum(),2)

992103.59

In [97]:
df = pd.read_csv('C:/Users/lybov/Downloads/data.csv')

In [98]:
df.head()

     match_id  start_time    win  hero_id  account_id      leaguename
0  7179178843  1685505859  False       86   992327405  Destiny league
1  7179178843  1685505859  False      128   162724090  Destiny league
2  7179178843  1685505859  False       17  1232094007  Destiny league
3  7179178843  1685505859  False       41  1170923497  Destiny league
4  7179178843  1685505859  False       38   202984325  Destiny league

In [100]:
df.dtypes

match_id       int64
start_time     int64
win             bool
hero_id        int64
account_id     int64
leaguename    object
dtype: object

In [103]:
df.win.sum()

100

In [105]:
df

           match_id    start_time     hero_id    account_id
count  2.000000e+02  2.000000e+02  200.000000  2.000000e+02
mean   7.179271e+09  1.685514e+09   66.595000  9.051761e+08
std    5.714607e+04  4.716808e+03   39.864859  5.755590e+08
min    7.179179e+09  1.685506e+09    3.000000  3.165951e+06
25%    7.179219e+09  1.685509e+09   31.000000  2.055309e+08
50%    7.179267e+09  1.685514e+09   71.000000  1.093667e+09
75%    7.179314e+09  1.685518e+09  101.000000  1.499725e+09
max    7.179368e+09  1.685521e+09  137.000000  1.543901e+09

In [108]:
df.query("win == True").sum()

match_id                                           717927094405
start_time                                         168551376720
win                                                         100
hero_id                                                    6435
account_id                                          92714711309
leaguename    Destiny leagueDestiny leagueDestiny leagueDest...
dtype: object

In [111]:
df.loc[df['win']]

       match_id  start_time   win  hero_id  account_id       leaguename
5    7179178843  1685505859  True       51  1216609165   Destiny league
6    7179178843  1685505859  True       11  1083977859   Destiny league
7    7179178843  1685505859  True       62  1122407405   Destiny league
8    7179178843  1685505859  True       21  1119908658   Destiny league
9    7179178843  1685505859  True        3  1220632105   Destiny league
..          ...         ...   ...      ...         ...              ...
195  7179367595  1685521110  True       72  1427100407  Ancients League
196  7179367595  1685521110  True       88  1529282248  Ancients League
197  7179367595  1685521110  True       40  1526386891  Ancients League
198  7179367595  1685521110  True       87  1513040880  Ancients League
199  7179367595  1685521110  True      126  1517400698  Ancients League

[100 rows x 6 columns]

In [150]:
df.query("win == True") \
    .groupby(['leaguename'], as_index=False) \
    .agg({'win': 'count'}) \
    .sort_values('leaguename')

                                          leaguename  win
0                                    Ancients League   35
1  DPC 2023 SEA Summer Tour Division I - presente...   15
2                                     Destiny league   30
3                          ESportsBattle | DOTA2 SC8   15
4                       Pinnacle Cup: Malta Vibes #2    5

In [151]:
df.groupby(['leaguename', 'win'], as_index=False) \
    .agg({'win': 'count'}) \
    .sort_values('leaguename')

                                          leaguename  win
0                                    Ancients League   35
1                                    Ancients League   35
2  DPC 2023 SEA Summer Tour Division I - presente...   15
3  DPC 2023 SEA Summer Tour Division I - presente...   15
4                                     Destiny league   30
5                                     Destiny league   30
6                          ESportsBattle | DOTA2 SC8   15
7                          ESportsBattle | DOTA2 SC8   15
8                       Pinnacle Cup: Malta Vibes #2    5
9                       Pinnacle Cup: Malta Vibes #2    5

In [159]:
df.query('leaguename == "Ancients League" and win == False').counts

AttributeError: 'DataFrame' object has no attribute 'counts'

In [125]:
from datetime import datetime

In [127]:
date = datetime.today().strftime('%Y-%m-%d-%H:%M:%S')

In [128]:
date

'2023-06-30-14:27:49'

In [130]:
from datetime import datetime

# current date and time
now = datetime.now() 
print(f'Full time format of now is {now}')

Full time format of now is 2023-06-30 14:28:03.883707

In [133]:
y = now.strftime('%Y')
print('year:', y)

year: 2023

In [137]:
print(f'year:{y}')

year:2023

In [147]:
name = 'очень жарко сегодня и вообще в эти дни'

In [148]:
def underscore(name):
    return name.replace(' ', '_')

In [149]:
underscore(name)

'очень_жарко_сегодня_и_вообще_в_эти_дни'